<aside class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-header">...</div>
        
        <nav class="sidebar-nav">
            <a href="#/admin/dashboard" class="nav-item">
                <img src="../assets/images/icon/icon-activity.gif" alt="Dashboard">
                <span>Dashboard</span>
            </a>
            <a href="#/admin/users" class="nav-item">
                <img src="../assets/images/icon/icon-user profile.gif" alt="Users">
                <span>User Management</span>
            </a>
             <a href="#/admin/projects" class="nav-item">
                <img src="../assets/images/icon/icon-project.gif" alt="Projects">
                <span>Project Management</span>
            </a>
            <a href="#/admin/logs" class="nav-item">
                <img src="../assets/images/icon/icon-history.gif" alt="Logs">
                <span>Activity Logs</span>
            </a>
        </nav>
        
        <div class="sidebar-footer">...</div>
    </div>
</aside>