<div class="subtask-item completed">
  <label class="custom-checkbox">
    <input type="checkbox" checked />
    <span class="custom-checkbox__checkmark round"></span>
  </label>
  <input type="text" class="subtask__name" value="Phân tích cấu trúc HTML" />
  <!-- button delete task -->
  <button class="btn-delete" aria-label="Delete subtask">
    <i data-lucide="x"></i>
  </button>
</div>
<div class="subtask-item">
  <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="custom-checkbox__checkmark round"></span>
  </label>
  <input
    type="text"
    class="subtask__name"
    value="Viết CSS cho trạng thái đóng/mở"
  />
  <!-- button delete task -->
  <button class="btn-delete" aria-label="Delete subtask">
    <i data-lucide="x"></i>
  </button>
</div>
