<div class="task-card" data-task-id="t001" style="background: var(--color-background-inprogress)">
    <!-- checkbox: to done status -->
    <label class="custom-checkbox">
        <input type="checkbox" />
        <span class="custom-checkbox__checkmark round"></span>
    </label>

    <!-- inner task-card -->
    <div class="task-card__content">
        <span class="task__name">Tạo Dashboard Mockup trên Figma</span>
        <div class="task-card__detail">
            <div class="task__address">
                <a href="#" class="task__project-link" data-project-id="p001"><span
                        id="taskAddress__prjId">Project</span></a>
                <span> / </span>
                <span id="taskAddress__tasklistId">tl001</span>
            </div>
            <div class="task__deadline">
                <i data-lucide="calendar-fold" class="icon--minium"></i>
                <span>Wednesday, 30 July 2025</span>
            </div>
        </div>
    </div>
    <!-- priority -->
    <button class="btn priority-high">
        <i data-lucide="star"></i>
    </button>
</div>

<div class="task-card" data-task-id="t003" style="background: var(--color-background-inreview)">
    <label class="custom-checkbox">
        <input type="checkbox" />
        <span class="custom-checkbox__checkmark round"></span>
    </label>
    <div class="task-card__content">
        <div class="task__name">Kiểm thử API thanh toán với Stripe</div>
        <div class="task-card__detail">
            <div class="task__address">
                <a href="#" class="task__project-link" data-project-id="p001"><span
                        id="taskAddress__prjId">Project</span></a>
                <span> / </span>
                <span id="taskAddress__tasklistId">tl003</span>
            </div>
            <div class="task__deadline">
                <i data-lucide="calendar-fold" class="icon--minium"></i>
                <span>Thursday, 01 August 2025</span>
            </div>
        </div>
    </div>
    <button class="btn priority-medium">
        <i data-lucide="star"></i>
    </button>
</div>

<div class="task-card completed" data-task-id="t0010" style="background: var(--color-background-inprogress)">
    <label class="custom-checkbox">
        <input type="checkbox" checked />
        <span class="custom-checkbox__checkmark round"></span>
    </label>
    <div class="task-card__content">
        <div class="task__name">Lên kịch bản video quảng cáo</div>
        <div class="task-card__detail">
            <div class="task__address">
                <a href="#" class="task__project-link" data-project-id="p006"><span
                        id="taskAddress__prjId">p006</span></a>
                <span> / </span>
                <span id="taskAddress__tasklistId">-</span>
            </div>
            <div class="task__deadline">
                <i data-lucide="calendar-fold" class="icon--minium"></i>
                <span>Not set</span>
            </div>
        </div>
    </div>
    <button class="btn priority-low">
        <i data-lucide="star"></i>
    </button>
</div>

<div class="task-card completed" data-task-id="t002" style="background: var(--color-background-done)">
    <label class="custom-checkbox">
        <input type="checkbox" checked />
        <span class="custom-checkbox__checkmark round"></span>
    </label>
    <div class="task-card__content">
        <div class="task__name">Lập trình Sidebar Component</div>
        <div class="task-card__detail">
            <div class="task__address">
                <a href="#" class="task__project-link" data-project-id="p001"><span>Project</span></a>
                /
                <span>tl002</span>
            </div>
            <div class="task__deadline">
                <i data-lucide="calendar-fold" class="icon--minium"></i>
                <span>Friday, 15 August 2025</span>
            </div>
        </div>
    </div>
    <button class="btn priority-high">
        <i data-lucide="star"></i>
    </button>
</div>

<div class="task-card" data-task-id="t010" style="background: var(--color-background-inprogress)">
    <label class="custom-checkbox">
        <input type="checkbox" />
        <span class="custom-checkbox__checkmark round"></span>
    </label>
    <div class="task-card__content">
        <div class="task__name">Booking KOLs</div>
        <div class="task-card__detail">
            <div class="task__address">
                <a href="#" class="task__project-link" data-project-id="p006"><span
                        id="taskAddress__prjId">p006</span></a>
                <span> / </span>
                <span id="taskAddress__tasklistId">-</span>
            </div>
            <div class="task__deadline">
                <i data-lucide="calendar-fold" class="icon--minium"></i>
                <span>Not set</span>
            </div>
        </div>
    </div>
    <button class="btn priority-high">
        <i data-lucide="star"></i>
    </button>
</div>